# This file is part of mathtrader.
#
# Copyright (C) 2021 George Ioannidis
#
# mathtrader is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# mathtrader is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with mathtrader. If not, see <http://www.gnu.org/licenses/>.

# Overrides for default clang-tidy configuration.

# Rationale for removed checks:
#
# Conflict with googletest macros:
# - cppcoreguidelines-avoid-non-const-global-variables
# - cppcoreguidelines-owning-memory
#
# Ban on mutable references has been lifted:
# - google-runtime-references
Checks: "\
  -*,\
  abseil-*,\
  bugprone-*,\
  clang-analyzer-*,\
  cppcoreguidelines-*,\
  -cppcoreguidelines-avoid-c-arrays,\
  -cppcoreguidelines-avoid-non-const-global-variables,\
  -cppcoreguidelines-owning-memory,\
  google-*,\
  -google-runtime-references,\
  modernize-*,\
  -modernize-avoid-c-arrays,\
  -modernize-use-trailing-return-type,\
  performance-*"

# Filters header files only from this workspace. Ignores any headers with 2+ '.'
# characters in the file path, notably all "*.pb.h" protobuf headers.
# Note: special character '.' loses its meaning in bracket expression, so it
# not have to be escaped.
# See: https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap09.html
HeaderFilterRegex: '^./mathtrader[^.]*\.h$'

WarningsAsErrors: '*'

# Harmonizes checks with the Google C++ code style.
CheckOptions:
  - key:   cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted
    value: 'true'
